
/** contact-info-section **/

.contact-info-section{
  position: relative;
}

.contact-info-section .sec-title h2{
  font-size: 36px;
  line-height: 42px;
}

.info-block-one .inner-box{
  position: relative;
  display: block;
  background: #fff;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 37px 30px 36px 156px;
  margin-bottom: 30px;
  transition: all 500ms ease;
}

.info-block-one .inner-box:hover{
  box-shadow: 0px 10px 50px 0px rgba(255, 107, 0, 0.15);
}

.info-block-one .inner-box .icon-box{
  position: absolute;
  display: inline-block;
  left: 30px;
  top: 40px;
  width: 86px;
  height: 86px;
  line-height: 86px;
  text-align: center;
  border-radius: 50%;
  font-size: 36px;
  overflow: hidden;
  z-index: 1;
  transition: all 500ms ease;
}

.info-block-one .inner-box:hover .icon-box{
  color: #fff;
}

.info-block-one .inner-box .icon-box:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  opacity: 0.1;
  z-index: -1;
  transition: all 500ms ease;
}

.info-block-one .inner-box .icon-box:after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  transform: scaleY(0);
  transform-origin: top center;
  z-index: -1;
  background: rgba(255, 172, 0, 1);
  transition: all 500ms ease;
}

.info-block-one .inner-box:hover .icon-box:after{
  transform: scaleY(1);
}

.info-block-one .inner-box h4{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 9px;
}

.info-block-one .inner-box p a{
  color: var(--text-color);
}

.info-block-one .inner-box p a:hover{

}


.contact-section{
  position: relative;
}

.contact-section .map-inner{
  position: relative;
  height: 568px;
  margin-left: -15px;
}

.contact-section .map-inner iframe{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.contact-section .form-inner{
  position: relative;
  display: block;
  background: rgba(247, 247, 247, 1);
  margin-right: -15px;
  padding: 52px 60px 60px 60px;
}

.contact-section .form-inner .form-group{
  position: relative;
  margin-bottom: 22px;
}

.contact-section .form-inner .form-group label{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 4px;
}

.contact-section .form-inner .form-group:last-child{
  margin-bottom: 0px;
}

.contact-section .form-inner .form-group input[type='text'],
.contact-section .form-inner .form-group input[type='email'],
.contact-section .form-inner .form-group textarea{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 50px;
  background: #fff;
  border: 1px solid rgba(229, 229, 229, 1);
  transition: all 500ms ease;
}

.contact-section .form-inner .form-group textarea{
  height: 150px;
  resize: none;
  border-radius: 20px;
}

.contact-section .form-inner .form-group input:focus,
.contact-section .form-inner .form-group textarea:focus{

}

.contact-section .form-inner .form-group .theme-btn{
  color: #fff;
}

.contact-section .form-inner .form-group .theme-btn span{
  background: var(--title-color);
}


/** rtl-css **/

.rtl .info-block-one .inner-box{
  padding-left: 30px;
  padding-right: 156px;
}

.rtl .info-block-one .inner-box .icon-box{
  left: inherit;
  right: 30px;
}

.rtl .contact-section .form-inner{
  margin-right: 0px;
  margin-left: -15px;
}

.rtl .contact-section .map-inner{
  margin-left: 0px;
  margin-right: -15px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){
  .contact-section .form-inner{
    margin-right: 0px;
  }

  .rtl .contact-section .form-inner{
    margin-left: 0px;
  }

  .contact-section .map-inner{
    margin-left: 0px;
  }

  .rtl .contact-section .map-inner{
    margin-right: 0px;
  }
}

@media only screen and (max-width: 767px){
  /* Contact Form - Mobile Field Sizes */
  .contact-section .row {
    margin: 0;
  }

  .contact-section .form-inner {
    padding: 25px 15px;
    border-radius: 10px;
    margin-right: 0;
    margin-left: 0;
  }

  .contact-section .form-inner .row {
    margin: 0 -5px;
  }

  .contact-section .form-inner .form-group {
    padding: 0 5px;
    margin-bottom: 15px;
  }

  .contact-section .form-inner .form-group input[type='text'],
  .contact-section .form-inner .form-group input[type='email'],
  .contact-section .form-inner .form-group textarea {
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 25px;
  }

  .contact-section .form-inner .form-group textarea {
    height: auto;
    min-height: 100px;
    border-radius: 15px;
  }

  .contact-section .form-inner .form-group label {
    font-size: 14px;
    margin-bottom: 5px;
  }

  /* Contact Info Section on Contact Page */
  .contact-section .map-column .large-container {
    padding: 0 15px;
  }

  .contact-section .map-column .sec-title {
    text-align: center;
  }

  .contact-section .map-column .sec-title h2 {
    font-size: 1.5rem;
  }

  .info-block-one .inner-box {
    padding: 25px 20px 25px 20px;
    text-align: center;
  }

  .info-block-one .inner-box .icon-box {
    position: relative;
    left: auto;
    top: auto;
    margin: 0 auto 15px auto;
    display: block;
  }

  .info-block-one .inner-box h4 {
    text-align: center;
  }

  .info-block-one .inner-box p {
    text-align: center;
  }
}

@media only screen and (max-width: 599px){
  /* Contact Form - Small Mobile */
  .contact-section .form-inner {
    padding: 20px 12px;
  }

  .contact-section .form-inner .form-group input[type='text'],
  .contact-section .form-inner .form-group input[type='email'],
  .contact-section .form-inner .form-group textarea {
    height: 42px;
    padding: 8px 12px;
    font-size: 13px;
  }

  .contact-section .form-inner .form-group textarea {
    min-height: 90px;
  }

  .contact-section .form-inner .form-group label {
    font-size: 13px;
  }

  .contact-section .form-inner .message-btn .theme-btn {
    padding: 10px 25px;
    font-size: 14px;
    width: 100%;
  }
}

@media only screen and (max-width: 499px){
  .info-block-one .inner-box,
  .rtl .info-block-one .inner-box{
    padding-left: 20px;
    padding-right: 20px;
  }

  .info-block-one .inner-box .icon-box{
    position: relative;
    left: 0px;
    top: 0px;
    margin: 0 auto 15px auto;
  }

  .rtl .info-block-one .inner-box .icon-box{
    right: 0px;
  }

  /* Contact Form - Extra Small Mobile */
  .contact-section .form-inner .col-lg-6,
  .contact-section .form-inner .col-md-6,
  .contact-section .form-inner .col-sm-12 {
    padding-left: 5px;
    padding-right: 5px;
  }
}





































